*.DS_Store
vendor/
ios/prebuild.log
.xcode.env.local
Gemfile.lock
Podfile.lock
*.xcworkspace/

Pods/
.DS_STORE
tmp.xcconfig
xcuserdata
Configuration.swift
Generated
GeneratedAssets.xcassets
!Generated/.gitkeep