APP_DISPLAY_NAME=HelloWorld-Dev
BUNDLE_IDENTIFIER=com.helloworld
VERSION_CODE=1
VERSION_NAME=1.0.0
API_URL="https://randomuser.me"
CODE_SIGN_ENTITLEMENTS=Helloworld
MMKV_CRYPTKEY="JEriPW2nhpLUFfcLSJK2Pg=="
SPLASH_STORYBOARD_NAME=Default
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
DEBUG_PROVISIONING_PROFILE=helloworld_mobile_development
RELEASE_PROVISIONING_PROFILE=helloworld_mobile_adhoc
PUBLISH_PROVISIONING_PROFILE=helloworld_mobile_appstore
APPLE_DEVELOPMENT_TEAM=
